{% extends 'account/layout.html' %}
{% block body %}
<div style="margin-top: 150px;" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Verify OTP</h1>
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <form action="{% url 'account:verify' %}" method="POST" class="user">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="otp">Enter OTP:</label>
                                        <input type="text" 
                                               name="otp" 
                                               id="otp" 
                                               class="form-control form-control-user" 
                                               placeholder="Enter OTP" 
                                               required>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Verify OTP
                                    </button>
                                    <a href="{% url 'account:logout' %}" class="btn btn-secondary btn-user btn-block mt-3">
                                        Logout
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}