{% extends 'main/layout.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <div class="text-center"> 
        <h1 class="h3 mb-2 text-primary font-weight-bolder">Bills History</h1><br>
    </div>


    <div class="card shadow mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Bills History Data Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered tally-table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                            <th>Meter Number</th>
                            <th>Reading Value</th>
                            <th>Consumption (m³)</th>
                            <th>Rate (KES/m³)</th>
                            <th>Amount (KES)</th>
                            <th>Penalty Amount</th>
                            <th>Total Payable</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th>Payment Date</th>
                            {% if request.user.is_superuser %}
                            <th>Actions</th> 
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                       {% for bill in billshistory %}
                        <tr>
                            <td> {{bill.client.account.get_full_name}} </td>
                            <td> {{bill.client.meter_number}} </td>
                            <td> {{bill.meter_reading.reading_value}} m³</td> 
                            <td> {{bill.consumption}} m³</td> 
                            <td> KSh{{bill.rate}}</td> 
                            <td> KSh{{bill.amount}}</td> 
                            <td> KSh{{bill.penalty_amount}}</td> 
                            <td class="font-weight-bolder text-primary"> KSh{{bill.total_amount}}</td> 
                            <td> {{bill.due_date}} </td> 
                            <td> {{bill.status}}</td>
                            <td> {{bill.payment_date|default:'Not Paid'}}</td>
                            {% if request.user.is_superuser %}
                            <td class="text-center">  
                                <a href="{% url 'main:update_bills' bill.id %}" class="btn btn-primary btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="{% url 'main:delete_bills' bill.id %}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                            {% endif %}
                        </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
{% endblock %}