{% extends 'main/layout.html' %}


{% block body %}

<div class="container"> 
    <h1 class="h3 mb-2 text-primary text-center font-weight-bolder">Update {{ bill }}</h1><br>
<form action="" method="POST" class="user" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mt-3">
        <label>Client: </label> <br>
        {{ form.client }}
    </div>
    <div class="form-group mt-3">
        <label>Meter Reading: </label> <br>
        {{ form.meter_reading }}
    </div>
    <div class="form-group mt-3">
        <label>Consumption (m³): </label> <br>
        {{ form.consumption }}
    </div>
    <div class="form-group mt-3">
        <label>Rate (KES/m³): </label> <br>
        {{ form.rate }}
    </div>
    <div class="form-group mt-3">
        <label>Amount (KES): </label> <br>
        {{ form.amount }}
    </div>
    <div class="form-group mt-3">
        <label>Penalty Amount (KES): </label> <br>
        {{ form.penalty_amount }}
    </div>
    <div class="form-group mt-3">
        <label>Status: </label> <br>
        {{ form.status }}
    </div>
    <div class="form-group mt-3">
        <label>Due Date: </label> <br>
        {{ form.due_date }}
    </div>
    <div class="form-group mt-3">
        <label>Penalty Date: </label> <br>
        {{ form.penalty_date }}
    </div>
    <div class="form-group mt-3">
        <label>Notes: </label> <br>
        {{ form.notes }}
    </div>

   <div class="d-flex justify-content-center">
   <input type="submit" value="Save" class="btn btn-primary btn-user  w-25">
   <a href="{{request.META.HTTP_REFERER}}" class="ml-3 btn btn-secondary btn-user  w-25">Cancel</a>
   </div>
</form>
</div>

{% endblock %}