{% extends 'main/layout.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    {% if request.user.is_superuser %}
    <div class="d-flex"> 
        <h1 class="h3 mb-2 text-primary font-weight-bolder">Ongoing Bills</h1><br>

    </div>
    {% else %}
    <div class="text-center"> 
        <h1 class="h3 mb-2 text-primary font-weight-bolder">Ongoing Bills</h1><br>
    </div>
    {% endif %}


    <div class="card shadow mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Ongoing Bills Data Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered tally-table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Cubic Meter Consumption</th>
                            <th>Consumption Cost</th>
                            <th>Due Date</th>
                            <th>Penalty Date</th>
                            <th>Penalty</th>
                            <th>Payable Amount</th>
                            <th>Pay Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for bill in ongoingbills %}
                        <tr>
                            <td> {{bill.name}} </td>
                            <td> {{bill.meter_consumption}} cu.m</td> 
                            <td> KSh{{bill.compute_bill}}</td> 
                            <td> {{bill.duedate}} </td> 
                            <td> {{bill.penaltydate}} </td> 
                            <td> {{bill.penalty}}</td> 
                            <td class="font-weight-bolder text-primary"> KSh{{bill.payable}} </td> 
                            <td> {{bill.status}}</td>
                            <td class="text-center">
                                {% if request.user.is_superuser %}
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <input name="contact_number" type="text" value="{{bill.name.contact_number}}" hidden>
                                    <input name="total_bill" type="text" value="{{bill.payable}}" hidden>
                                    <input name="due_date" type="text" value="{{bill.duedate}}" hidden>   
                                    <input name="penalty_date" type="text" value="{{bill.penaltydate}}" hidden>
                                    <button name="notify" class="btn btn-primary" type="submit"> 
                                        <i class="fa-solid fa-envelope"></i>
                                    </button>
                                    <a href="{% url 'update_bills' bill.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                    <a href="{% url 'delete_bills' bill.id %}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                </form>
                                {% endif %}
                                {% if bill.status != 'Paid' and not request.user.is_superuser %}
                                <a href="{% url 'initiate_mpesa_payment' bill.id %}" class="btn btn-success btn-sm">Pay with M-Pesa</a>
                                {% endif %}
                                <a href="{% url 'generate_bill_pdf' bill.id %}" class="btn btn-success"><i class="fas fa-file-pdf"></i></a>
                            </td>
                        </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>
{% endblock %}