{% extends 'main/layout.html' %}

{% block body %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Client Dashboard</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Welcome, {{ request.user.first_name }}!</h6>
                </div>
                <div class="card-body">
                    <p>This is your personal dashboard. From here, you can manage your account, view your bills, and see your consumption history.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Unpaid Bills Card -->
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Unpaid Bills</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ unpaid_bills_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-file-invoice-dollar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                    <a href="{% url 'ongoingbills' %}" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <!-- Billing History Card -->
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Billing History
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ paid_bills_count }} Paid</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-history fa-2x text-gray-300"></i>
                        </div>
                    </div>
                     <a href="{% url 'billshistory' %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock body %}
