{% extends 'main/layout.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-5">
                <div class="card-header">
                    <h5 class="card-title text-center font-weight-bolder">Update Client: {{ client.first_name }} {{ client.last_name }}</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="" novalidate>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="{{ form.first_name.id_for_label }}">First Name</label>
                                {{ form.first_name|add_class:"form-control" }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                                {{ form.last_name|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.meter_number.id_for_label }}">Meter Number</label>
                            {{ form.meter_number|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.address.id_for_label }}">Address</label>
                            {{ form.address|add_class:"form-control" }}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="{{ form.contact_number.id_for_label }}">Contact Number</label>
                                {{ form.contact_number|add_class:"form-control" }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{ form.status.id_for_label }}">Connection Status</label>
                                {{ form.status|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-primary w-25">Save Changes</button>
                            <a href="{% url 'main:clients' %}" class="btn btn-secondary w-25 ml-3">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}