{% load static %}
{% load sweetify %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Water Billing | {{ title }}</title>

        <link rel="icon" href="{% static 'landingpage/assets/img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'landingpage/assets/img/apple-touch-icon.png' %}">
    <meta property="og:image" content="{% static 'snsu.jpg' %}" />
    <meta name="description" content="A capstone project for Water Billing System">


    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link href="{% static 'sb_admin/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/sb-1.4.0/sp-2.1.0/datatables.min.css"/>

</head>

<body id="page-top">

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar bg-primary sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon" style="margin-left: -15px;">
                <img width="40px" src="{% static 'sb_admin/img/logo.png' %}">
            </div>
            <div class="sidebar-brand-text ml-1">Water Billing</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            {% if request.user.is_superuser %}
            <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
            {% elif request.user.role == 'CUSTOMER' %}
            <a class="nav-link" href="{% url 'client_dashboard' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
            {% elif request.user.role == 'METER_READER' %}
            <a class="nav-link" href="{% url 'meter_reader_dashboard' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
            {% else %}
             <a class="nav-link" href="{% url 'landingpage' %}">
                <i class="fas fa-fw fa-home"></i>
                <span>Home</span></a>
            {% endif %}
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        {% if request.user.is_authenticated %}
            <!-- ADMIN SECTION -->
            {% if request.user.is_superuser %}
                <div class="sidebar-heading">
                    Management
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'clients' %}">
                        <i class="fas fa-fw fa-users"></i>
                        <span>Clients</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBilling"
                        aria-expanded="true" aria-controls="collapseBilling">
                        <i class="fas fa-fw fa-file-invoice-dollar"></i>
                        <span>Billing</span>
                    </a>
                    <div id="collapseBilling" class="collapse" aria-labelledby="headingBilling" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Billing Actions:</h6>
                            <a class="collapse-item" href="{% url 'generate_bills' %}">Generate Bills</a>
                            <a class="collapse-item" href="{% url 'ongoing_bills' %}">Manage Unpaid Bills</a>
                            <a class="collapse-item" href="{% url 'select_client_for_payment' %}">Record Cash Payment</a>
                            <a class="collapse-item" href="{% url 'history_bills' %}">Billing History</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users' %}">
                        <i class="fas fa-fw fa-user-cog"></i>
                        <span>Users</span>
                    </a>
                </li>

                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Analysis & Settings
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reports' %}">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Reports</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'metrics' %}">
                        <i class="fas fa-fw fa-cogs"></i>
                        <span>System Metrics</span></a>
                </li>
            {% endif %}

            <!-- CUSTOMER SECTION -->
            {% if request.user.role == 'CUSTOMER' %}
                <div class="sidebar-heading">
                    My Account
                </div>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBilling"
                        aria-expanded="true" aria-controls="collapseBilling">
                        <i class="fas fa-fw fa-file-invoice-dollar"></i>
                        <span>My Bills</span>
                    </a>
                    <div id="collapseBilling" class="collapse" aria-labelledby="headingBilling" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Billing Sections:</h6>
                            <a class="collapse-item" href="{% url 'ongoing_bills' %}">Ongoing Bills</a>
                            <a class="collapse-item" href="{% url 'client_bill_history' %}">Billing History</a>
                        </div>
                    </div>
                </li>
            {% endif %}

            <!-- METER READER SECTION -->
            {% if request.user.role == 'METER_READER' %}
                <div class="sidebar-heading">
                    Meter Operations
                </div>

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'meter_reader_dashboard' %}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>

                <!-- Nav Item - Meter Reading -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'meter_reading' %}">
                        <i class="fas fa-fw fa-tint"></i>
                        <span>Meter Reading</span>
                    </a>
                </li>

                <!-- Nav Item - Register Client -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register_customer' %}">
                        <i class="fas fa-fw fa-user-plus"></i>
                        <span>Register Client</span>
                    </a>
                </li>

                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' request.user.pk %}">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div style="background-color: #dddd;" id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light mb-4 bg-white topbar static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{% if request.user.is_superuser %} {{ request.user }} {% else %} {{ request.user.first_name }} {{ request.user.last_name }} {% endif %}</span>
                            <img class="img-profile rounded-circle"
                                src="{% static 'sb_admin/img/user.png' %}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'profile' request.user.id %}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Login</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>

            </nav>
            <!-- End of Topbar -->

            {% block content %}{% endblock content %}
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="footer mt-auto py-3 bg-white border-top">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="mb-1">
                            <span>Developed by: Lawrence Mbugua Njuguna 2025</span> | 
                            <a href="https://github.com/kb-diplo" target="_blank">GitHub</a> | 
                            <a href="http://www.linkedin.com/in/mbugualawrence" target="_blank">LinkedIn</a>
                        </div>
                        <div class="text-muted">
                            <b>Copyright &copy; Water Billing System 2025</b>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'sb_admin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'sb_admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Custom scripts for active sidebar link -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const currentLocation = window.location.pathname;
        const sidebarLinks = document.querySelectorAll('#accordionSidebar .nav-link, #accordionSidebar .collapse-item');

        sidebarLinks.forEach(link => {
            if (link.getAttribute('href') === currentLocation) {
                // For main nav items
                const navItem = link.closest('.nav-item');
                if (navItem) {
                    navItem.classList.add('active');
                }

                // For items in a collapsed menu
                const collapseItem = link.closest('.collapse');
                if (collapseItem) {
                    collapseItem.classList.add('show');
                    const parentNavItem = collapseItem.closest('.nav-item');
                    if (parentNavItem) {
                        parentNavItem.classList.add('active');
                    }
                }
            }
        });
    });
</script>

<!-- Core plugin JavaScript-->
<script src="{% static 'sb_admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'sb_admin/js/sb-admin-2.min.js' %}"></script>

<!-- Datatables -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/sb-1.4.0/sp-2.1.0/datatables.min.js"></script>


<!-- AOS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>

{% block scripts %}{% endblock scripts %}

<!-- SweetAlert2 -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% sweetify %}
</body>

</html>